* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  font-size: 18px;
  background-color: #265DE8;

}

.box-hero div.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-size: 70px;
  padding-top: 48px;
}

h2{
  font-size: 70px;

}

p {
  font-size: 24px;
}

.p-info{
margin-top: 40px;
}

.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;

}

button {
  border-radius: 38px;
  text-align: center;
  text-decoration: none;
  border: none;
}

/* .debug {
  border: 3px dashed;
} */

nav ul {
  display: flex;
  list-style: none;
}

h4{
color: #738BDE;
font-size: 40px;
}
h5{
  color: #738BDE;
  font-size: 24px;
}

span{
margin-top: 20px;
font-size: 24px;
}

/* header */
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1700px;
  height: 70px;

}

.logo {}

.link ul li a {
  padding: 26px;
  text-decoration: none;
  color: white;
}

.buttonhead button {
  font-size: 19px;
  padding: 11px;
}

/* main */

.box-hero {
  background-image: url(../img/jumbo.png);
  background-size: 100%;
  background-repeat: no-repeat;

}

div .hero {
  width: 900px;
  height: 500px;
  text-align: center;
  color: white;
}

.hero div p {
  padding-top: 60px;
  padding-bottom: 50px;
}
.mac{
  display: inline-block;
  margin-right: 20px;
}
.mac button{
padding: 20px;
width: 270px;
font-size: 20px;
}

.browser{
display: inline-block;
}

.browser button{
  color: white;
  background-color: black;
  width: 380px;
  padding: 20px;
  font-size: 20px;
}
/* sezzione 1 */
main section.due {
  background-color: white;
  padding-top: 105px;
  padding-bottom: 50px;
}

.img-rana {
  width: 1150px;
  height: 700px;


}

.img-rana img{
width: 800px;
}

.info-rana {
  width: 650px;
  height: 700px;
}

.info-rana h2{
padding-top: 30px;
}

.text-rana p{
width: 403px;
}

/* sezzione 3 */
main section.tre {
  background-color: #D3D3D3;
  padding-top: 200px;
  padding-bottom: 50px;
}


.img-tre {
  width: 1050px;
  height: 700px;
}

.img-tre img{
  width: 850px;
}

.info-tre {
  width: 650px;
  height: 700px;
}

.info-tre h2{
padding-top: 35px;
}

/* sezzione 4 */
main section.quattro {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-quattro {
  width: 1050px;
  height: 700px;

}

.img-quattro img{
  width: 750px;
}

.info-quattro {
  width: 650px;
  height: 700px;
}

.text-quattro p{
  width: 430px;
}

/* sezzine 5 */

main section.cinque {
  background-color: #D3D3D3;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.img-tecnologia {
  width: 1700px;
}

.info-tecnologia h2{
  width: 1446px;
  font-size: 59px;
}

.text-cinque p{
  width: 1321px;
    padding-left: 109px;
}

.img-cinque img{
  width: 1483px;
}

/* star */

div.star{
  display: flex;
  justify-content: center;
}
.star h3{
  font-size: 39px;
  background-image: url(../img/stars.svg);
  background-size: 103%;
  padding-right: 40px;
  padding-top: 46px;
  padding-left: 35px;
}
 
/* button */

.button-cinque{
  padding-bottom: 100px;

}

.button-cinque button{
  padding: 20px;
  font-size: 20px;
  background-color: #8FA0E1;
  color: white;
}

/* footer */

.Foot-uno.container {
  width: 1700px;
  height: 700px;
}

div .menu {
  display: flex;
  width: 400px;
  height: 700px;
  flex-direction: column;
}

/* colonne */

.colonne{
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  color: white;

}

footer section.foot-uno {
  padding-top: 100px;
  background-color: #23272A;
  padding-bottom: 50px;
}


div .colonna1 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 700px;
}

div .colonna2 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 700px;
}

div .colonna3 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 700px;
}

div .colonna4 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 700px;
}

.colonne p{
  margin-top: 20px;
}

.ita img{
width: 20px;
}

/* \colonne */

/* footer 2 */
.foot-due {
  margin-top: 2px;
  padding-top: 35px;
  background-color: #23272A;
}

.box-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1700px;
  height: 100px;
  background-color: #7FFFD4;
}

.button2 button {
  text-decoration: none;
  border: none;
  font-size: 26px;
  background-color: #FFB6C0;
  padding: 5px;
}

.logo2 {
  font-size: 28px;
  background-color: #FFB6C0;
  padding: 5px;
}

