* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  font-size: 18px;
  background-color: #265DE8;

}

.box-hero div.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-size: 70px;
  padding-top: 48px;
}

h2{
  font-size: 70px;

}

p {
  font-size: 24px;
}

.p-info{
margin-top: 40px;
}

.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;

}

button {
  border-radius: 38px;
  text-align: center;
  text-decoration: none;
  border: none;
}

/* .debug {
  border: 3px dashed;
} */

nav ul {
  display: flex;
  list-style: none;
}

/* header */
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1700px;
  height: 70px;

}

.logo {}

.link ul li a {
  padding: 26px;
  text-decoration: none;
  color: white;
}

.buttonhead button {
  font-size: 19px;
  padding: 11px;
}

/* main */

.box-hero {
  background-image: url(../img/jumbo.png);
  background-size: 100%;
  background-repeat: no-repeat;

}

div .hero {
  width: 900px;
  height: 500px;
  text-align: center;
  color: white;
}

.hero div p {
  padding-top: 60px;
  padding-bottom: 50px;
}
.mac{
  display: inline-block;
  margin-right: 20px;
}
.mac button{
padding: 20px;
width: 270px;
font-size: 20px;
}

.browser{
display: inline-block;
}

.browser button{
  color: white;
  background-color: black;
  width: 380px;
  padding: 20px;
  font-size: 20px;
}
/* sezzione 1 */
main section.due {
  background-color: white;
  padding-top: 105px;
  padding-bottom: 50px;
}

.img-rana {
  width: 1150px;
  height: 700px;


}

.img-rana img{
width: 800px;
}

.info-rana {
  width: 650px;
  height: 700px;
}

.info-rana h2{
padding-top: 30px;
}

.text-rana p{
width: 403px;
}

/* sezzione 3 */
main section.tre {
  background-color: #D3D3D3;
  padding-top: 200px;
  padding-bottom: 50px;
}


.img-tre {
  width: 1050px;
  height: 700px;
}

.img-tre img{
  width: 850px;
}

.info-tre {
  width: 650px;
  height: 700px;
}

.info-tre h2{
padding-top: 35px;
}

/* sezzione 4 */
main section.quattro {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-quattro {
  width: 1050px;
  height: 700px;

}

.img-quattro img{
  width: 750px;
}

.info-quattro {
  width: 650px;
  height: 700px;
}

.text-quattro p{
  width: 430px;
}

/* sezzine 5 */

main section.cinque {
  background-color: #D3D3D3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-tecnologia {
  width: 1700px;
  height: 1800px;
  background-color: #238B21;
}

/* footer */

.Foot-uno.container {
  width: 1700px;
  height: 700px;
}

/* colonne */

footer section.foot-uno {
  padding-top: 20px;
  background-color: #23272A;
  padding-bottom: 50px;
}

div .menu {
  width: 550px;
  height: 700px;
  background-color: #F08080;
}

div .colonna1 {
  width: 287.5px;
  height: 700px;
  background-color: #20B2AA;
  border-color: white;
}

div .colonna2 {
  width: 287.5px;
  height: 700px;
  background-color: #20B2AA;
  border-color: white;
}

div .colonna3 {
  width: 287.5px;
  height: 700px;
  background-color: #20B2AA;
  border-color: white;
}

div .colonna4 {
  width: 287.5px;
  height: 700px;
  background-color: #20B2AA;
  border-color: white;
}

/* \colonne */

/* footer 2 */
.foot-due {
  margin-top: 2px;
  padding-top: 35px;
  background-color: #23272A;
}

.box-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1700px;
  height: 100px;
  background-color: #7FFFD4;
}

.button2 button {
  text-decoration: none;
  border: none;
  font-size: 26px;
  background-color: #FFB6C0;
  padding: 5px;
}

.logo2 {
  font-size: 28px;
  background-color: #FFB6C0;
  padding: 5px;
}